*{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}
body{
    text-align: center;
}
h1{
    margin: 20px;
    font-size: 70px;
}
p{
    font-size: 35px;
    margin: 20px;
    display: center;
}
input{
    background-color: white;
    width: 110px;
    height: 40px;
    margin: 30px;
    border-radius: 15px;
}
button{
    background-color: red;
    color: white;
    font-size: 30px;
    width: 200px;
    height: 70px;
    margin: 30px;
    border-radius: 15px;
}